* {
    padding: 15px;
}


body {
    background-image: linear-gradient(to bottom right, rgb(238, 215, 171), rgb(91, 154, 177));
}

.kassan {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

input {

    background-color: rgb(201, 227, 227);
    box-shadow: 2px 2px 2px 2px;
}

#buynow {
    padding: 10px 50px 10px 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 2px solid #4f4c4c;
    text-align: left;
    padding: 8px;
}


.row-4 td {

    border: none;
}

.row-4 {
    border-collapse: none;
}

.main-box-2 {
    display: flex;
    flex-direction: column;
}

.main-box-3>fieldset {
    display: flex;
    flex-direction: column;
}

#street {
    width: 350px;
}

#postnumber {
    width: 200px;
}

#city {
    width: 200px;
}

#name {
    display: flex;
}

.input1 {
    display: flex;
    flex-direction: column;
}

.input2 {
    display: flex;
    flex-direction: column;
}

.input3 {
    display: flex;
    flex-direction: column;
}

#firstname {
    width: 250px;
}

#lastname {
    width: 250px;
}

#e-mail {

    width: 350px;
}


.main-box-4>fieldset {
    display: flex;
    flex-direction: column;
}

/* table {
    border: 1px solid black;
} */


.street {
    display: flex;
    flex-direction: column;
}

.postnumber {
    display: flex;
    flex-direction: column;
}

.city {
    display: flex;
    flex-direction: column;

}

.main-box-5 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main-box-5 button {
    padding: 10px 50px 10px 50px;
    background-color: darkcyan;
    box-shadow: 2px 2px 2px 2px;
}