 img {
     width: 100%;
 }

 body {
     background-image: linear-gradient(to bottom right, rgb(238, 215, 171), rgb(98, 148, 166));
 }

 .site-crown {
     display: flex;
     /*background-image: linear-gradient(to right, brown, rgb(170, 170, 71));*/
     align-items: center;
 }

 .logo-photo {
     margin-left: 80px;
     width: 160px;
     height: 90px;
 }

 .iconbar-header img {
     width: 25px;
 }

 .profile-icon {

     margin-left: auto;
     margin-right: 40px;
 }

 .shopping-cart-icon {}

 div .search-header {
     flex-grow: 1;
     margin-left: 80px;

 }

 .search-header input {
     border: none;
     border-radius: 10px;
     width: 200px;
     height: 25px;
 }

 .search-header form {
     width: 250px;
     border: 2px solid white;
     padding: 3px;
     border-radius: 16px;
     background-color: white;
 }

 .search-header input:focus {
     outline: none;
 }

 .shopping-cart-icon {
     margin-right: 80px;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
     color: black;
 }

 a:hover {
     text-decoration: underline;

 }

 .hero {
     display: flex;

 }

 .nav-bar {
     display: flex;
     flex-direction: row;
     align-content: flex-start;
     margin-top: 40px;

 }

 .nav-bar>li {
     margin-right: 50px;
 }

 .text-hero {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 40px;
 }

 .anchor-hero {
     display: flex;
     justify-content: center;
     border: 2px solid black;
     border-radius: 10px;
     margin-top: 80px;
     width: 70px;
     height: 20px;
 }

 .hero {

     margin-bottom: 30px;

 }

 .photo-hero {
     margin: 50px 50px 50px 50px;

     display: flex;
     width: 1200px;
     height: auto;
 }

 .photo-hero img {
     width: 100%;
     height: auto;
 }

 .spots {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     height: auto;

 }

 .spots img {
     width: 350px;
     height: 200px;
 }

 .spots>.spots-picture-1>h3 {
     color: rgb(131, 127, 127);
     position: relative;
     text-align: center;
     top: 130px;
 }

 .spots>.spots-picture-2>h3 {
     color: rgb(131, 127, 127);
     position: relative;
     text-align: center;
     top: 130px;
 }

 .spots>.spots-picture-3>h3 {
     color: rgb(131, 127, 127);
     position: relative;
     text-align: center;
     top: 130px;
 }

 .popular {
     padding: 50px;

 }

 .popular img {
     width: 200px;
     height: 300px;
 }


 h2 {
     display: grid;
     justify-content: center;
     margin-bottom: 50px;
     font-size: 50px;

 }

 .main-content img {
     box-shadow: 6px 6px 6px 6px gray;
 }



 .product-box-1 {
     display: grid;
     grid-template-columns: auto auto auto auto;
     justify-content: space-between;
 }

 .info-product-1,
 .info-product-2,
 .info-product-3,
 .info-product-4,
 .info-product-5,
 .info-product-6,
 .info-product-7,
 .info-product-8 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;

 }

 .product-box-2 {
     display: grid;
     grid-template-columns: auto auto auto auto;
     justify-content: space-between;
     margin-top: 40px;
 }

 .service-bar>ul {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin-bottom: 80px;
 }

 .service-bar i {
     margin-right: 15px;
 }

 nav>p {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     margin-left: 35px;
     font-size: 2em;
 }

 .footer-menu {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }

 .copyright {
     padding: 50px;
     display: flex;
     justify-content: center;
 }


 @media screen and (max-width:575px) {
     .site-crown {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         /*  background-image: linear-gradient(to right, rgb(150, 87, 87), rgb(170, 170, 71)); */
         align-items: center;
     }

     .search-header {
         flex-grow: 1;
         margin-top: 10px;
         margin-bottom: 10px;
         margin-right: 60px;
         display: flex;
         align-items: center;

     }

     .site-crown form {
         width: 100%;
     }

     .iconbar-header {
         width: 10px;
         display: flex;
         align-items: center;
     }

     .nav-bar {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         margin-top: 15px;
         margin-bottom: 15px;
     }

     .photo-hero {
         margin: auto;
         display: flex;
         justify-content: center;
         width: 100%;
         height: auto;
     }

     .hero {
         display: flex;
         flex-direction: column-reverse;
         margin-top: auto;
         margin-bottom: auto;
     }

     .text-hero {
         font-size: smaller;
     }

     .anchor-hero {
         display: flex;
         justify-content: center;
         border: 2px solid black;
         border-radius: 10px;
         margin-top: 30px;
         width: 70px;
         height: 20px;
     }

     .popular {
         padding: 10px;
     }

     h2 {
         display: grid;
         justify-content: center;
         margin-bottom: 20px;
         font-size: 20px;

     }

     .site-crown .iconbar-header img {
         width: 20px;
     }

     .logo-photo img {
         width: auto;
         height: auto;
     }

     .spots {
         display: none;
         /*  display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         width: 100%;
         height: auto;
         margin-bottom: 10px; */
     }


     .product-box-1 {

         display: grid;
         grid-template-columns: auto;
         grid-template-rows: auto auto auto auto;
         justify-content: center;
         gap: 2px;
         margin-bottom: 10px;
     }

     /*  .popular-products-2 {
         display: none;
     }

     .popular-products-3 {
         display: none;
     }

     .popular-products-4 {
         display: none;
     } */

     .product-box-2 {
         /*  display: none; */
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: auto auto auto auto;
         justify-content: center;
         gap: 2px;
         margin-bottom: 20px;
         margin-top: 20px;
     }

     .service-bar>ul {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         margin-bottom: 10px;
     }

     ul>p {
         margin: 10px;

     }

     ul>li {
         margin-bottom: 10px;
     }

     .footer-menu {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
     }
 }